.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/*quadrato 2*/

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}


/*quadrato 3*/

.ex-3-square {
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


/*quadrato 4*/

.ex-4-square {
    transition: opacity 3s;
}

.ex-4-square:hover {
    opacity: 0;
}


/*quadrato 5*/

.ex-5-square {
    transition: scale 3s;
}

.ex-5-square:hover {
    scale: 200%;
}

.ex-5-square:active {
    scale: 50%;
}

/*quadrato 6*/
.ex-6-img {
    transition: filter 2s;
}

.ex-6-img:hover {
    filter: grayscale(100%)
}