.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/*quadrato 2*/

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}


/*quadrato 3*/

.ex-3-square {
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


/*quadrato 4*/

.ex-4-square {
    transition: opacity 3s;
}

.ex-4-square:hover {
    opacity: 0;
}


/*quadrato 5*/

.ex-5-square {
    transition: scale 3s;
}

.ex-5-square:hover {
    scale: 200%;
}

.ex-5-square:active {
    scale: 50%;
}

/*quadrato 6*/
.ex-6-img {
    transition: filter;
}

.ex-6-img:hover {
    filter: grayscale(100%)
}

/*quadrato 7*/
.ex-7-img {
    transition: filter 5s;
}

.ex-7-img:hover {
    filter: blur(5px) grayscale(100%);
}

/*quadrato 8*/
.ex-8-img {
    transition: all;
}

.ex-8-img:hover {
    filter: blur(5px) grayscale(100%);
    border-radius: 50px;
}

/*quadrato 9*/
.ex-9-img {
    transition: all;
}

.ex-9-img:hover {
    filter: blur(5px) grayscale(100%);
    border-radius: 50px;
    scale: 50%;
}


/*quadrato 10*/
.ex-10-icon {
    animation: caricamento 2s linear infinite;
}

@keyframes caricamento {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*quadrato 11*/
.ex-11-icon:hover {
    animation: carica 2s linear infinite;
}

@keyframes carica {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-270deg);
    }
}

/*quadrato 12*/
.ex-12-top-white,
.ex-12-bottom-white {

    animation: bordo 3s linear infinite;
}

@keyframes bordo {
    0% {
        top: -10px;
        left: -10px;
    }

    25% {
        top: -10px;
        left: 90%;

    }

    50% {
        top: 90%;
        left: 90%;

    }

    75% {
        top: 90%;
        left: -10px;
    }

    100% {
        top: 0px;
        left: -10px;

    }
}

/*quadrato 13*/
.ex-13-top-white,
.ex-13-bottom-white {

    animation: bordo 3s linear infinite;
}

@keyframes bordo {
    0% {
        top: -10px;
        left: -10px;
    }

    25% {
        top: -10px;
        left: 90%;

    }

    50% {
        top: 90%;
        left: 90%;

    }

    75% {
        top: 90%;
        left: -10px;
    }

    100% {
        top: 0px;
        left: -10px;

    }
}